@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Open+Sans:wght@300;400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}


body  {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2e44;
}

.digital-clock {
  position: relative;
  color: #fff;
  background-color: #2d2f41;
  width: 425px;
  padding: 20px 45px;
  box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
  border-radius: 10px;  
}